body {
    font-family: Arial, sans-serif;
    background-color: #111; /* Fondo oscuro espacial */
    color: white; /* Texto blanco */
    margin: 0;
    padding: 20px;
}

nav {
    background-color: #222;
    padding: 10px;
    display: flex; /* Esto alinea el logo y el menú */
    align-items: center;
    gap: 20px;
}

a {
    color: #f00; /* Color rojo UC3M */
    text-decoration: none;
    font-weight: bold;
}